@font-face {
  font-family: "PoWGarnier-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/PoWGarnierDemo-Regular.woff2") format("woff2"),
    url("../fonts/PoWGarnierDemo-Regular.woff") format("woff");
}
